@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-25 23:55:34
 * @version $Id$
 */
 .top-wrap{ width: 100%; height: 75px; border-bottom: 1px solid #ccc;}
 .top-conbox{ width: 1100px; height: 35px; padding: 20px 0 20px 0; margin: 0 auto;}
 .top-conbox dt{ float:left; height: 35px; font-size: 32px;  font-family: '微软雅黑'; font-weight:bold; margin-right: 110px;}
 .top-conbox dd{ float: left; height: 35px; line-height: 35px; color: #ed3c42; margin-left: 28px; margin-top:5px;}
 .top-ico1,.top-ico2{ float:left; width: 20px; height: 20px;  background: url(../img/topdh.jpg) no-repeat; margin: 7px 7px 0 0;}
.top-ico2{ width: 25px; height: 17px;  background: url(../img/topxf.jpg) no-repeat; margin: 8px 7px 0 0;}
.nav-box{ width: 100%; height: 56px;}
.nav-list{ width: 1100px; height: 56px; margin:0 auto; line-height: 56px;}
.nav-list li{ float: left; margin-left: 77px; font-family: '微软雅黑';}
.nav-list .navlist-first{ margin-left: 15px;}
.navlist-first a{ color: #00bef2;}

.banner-wrap{ position:relative; width: 100%; height: 680px}
.banner-box{ width: 100%; height: 630px}
.banner-box li{ position:relative; }
.banner-box li a{  position:absolute; left:0; top:0;  display: block; width: 1680px; height: 630px; opacity:0; /* display: none; */}
.bg-1{ background: url(../img/banner1.jpg) no-repeat center 0;}
.bg-2{ background: url(../img/banner2.jpg) no-repeat center 0;}
.bg-3{ background: url(../img/banner3.jpg) no-repeat center 0;}
.bg-4{ background: url(../img/banner1.jpg) no-repeat center 0;}

.banner-btn{ position:absolute; left: 50%; bottom:0; width: 1100px; height: 99px; margin-left: -550px;}
.banner-btn li{float: left; margin-right: 16px; border:1px solid #ebe7e4;}
.banner-btn .b-btnlast{ margin-right: 0;}
.banner-btn li a{ display:block; width: 261px; height: 99px; }
.btn-1{ background: url(../img/bg1.jpg) no-repeat;}
.btn-2{ background: url(../img/bg2.jpg) no-repeat;}
.btn-3{ background: url(../img/bg3.jpg) no-repeat;}
.btn-4{ background: url(../img/bg4.jpg) no-repeat;}

.banner-btn .active-btn{ border:1px solid #f00;}
.banner-box li .active{ display:block; opacity:1;}

.opabox{ position:absolute; left:50%; top:205px;width: 1100px; height: 80px; margin-left: -550px;}
.opa{ position: absolute; left:0; top:0; width: 100%; height: 100%; background: #000; border-radius: 10px; opacity: 0.3; filter:alpha(opacity:30);}
.con{position:relative; height: 80px; line-height: 80px;}
.con input{ height: 39px; margin-left: 18px;}
.place{ width: 190px;}
.email{ width: 245px;}
.mestext{ width: 450px;}
.butt{ width: 110px; background: #ee3d43; color: #fff;}

.about-wrap{ width: 100%; height: 330px;}
.about-con{ width: 1100px; height: 300px; padding-top: 30px; margin: 0 auto;}
.about-con h1{ width: 424px; height: 48px; font-size: 15px; color: #4d4d4d;
		 background: url(../img/abus.jpg) no-repeat 0 22px; margin: 0 auto; text-align: center;}
 .about-list{ width: 100%; height: 187px; padding: 30px 0 35px 0;}		
 .about-list li{ float:left; margin-right:115px; width: 290px; height: 190px;}
 .about-list .ab-listlast{ margin-right: 0;}
 .about-list li h2{ height: 57px; line-height:57px; padding-left: 64px; background: url(../img/abpic1.jpg) no-repeat;}
 .about-list li p{ margin-top: 10px; font-size: 9px; height: 25px; line-height: 25px;}
 .about-list li .abpic2{ background: url(../img/abpic2.jpg) no-repeat;}
 .about-list li .abpic3{ background: url(../img/abpic3.jpg) no-repeat;}
 .tours-wrap{ width: 100%; height: 1200px; background: url(../img/picbg.jpg) no-repeat center; margin-bottom: 60px;}
 .tours-box{ width: 1100px; height: 1200px; margin: 0 auto;}
 .tours-title{ width: 1100px; height: 100px; padding:25px 0; }
 .tours-title h3{ width:425px; height:48px; background: url(../img/tours.png) no-repeat; margin: 0 auto;}
 .tours-title p{ height: 25px; line-height: 25px; color: #fffefc; font-family: '微软雅黑';}
 .tours-picbox{ width: 1100px; height: 1050px; color: #fefeff;}
  .tours-picbox a{ color: #fefeff;}
 .tours-picbox li{float:left; width: 329px; height: 345px; margin-right: 55px;}
 .tours-picbox .picspecial{ margin-right: 0;}
 .tours-picbox h4{ text-align: center; margin-top: 14px;  font-family: '微软雅黑'; font-size: 13px;}
 .tours-picbox p{ height: 25px; line-height: 25px; text-align: center; font-family: '微软雅黑';}
 .offers-wrap{ width: 100%; height: 314px; margin-bottom: 50px;}
 .offers-box{ width: 1100px; height: 314px; margin: 0 auto;}

 .offers-left{position: relative; width: 437px; height: 314px;}
 .of-picbox{ height: 314px;}
 .of-picbox li a{ display: block; width: 437px; height: 314px; background: url(../img/footpic1.jpg) no-repeat; display: none;}
 .of-picbox li .of-pic2{ background-image:url(../img/footpic2.jpg); }
 .of-picbox li .of-pic3{ background-image:url(../img/footpic1.jpg); }
 .of-picbut{ position: absolute;right: 10px;bottom: 8px;}
.of-picbut li{ float: left; margin-left: 7px;}
 .of-picbut li a{ display: block; width: 11px; height: 11px; background: #fff;}
 .of-picbox li .active{ display: block;}
 .of-picbut .active-btn{ background: #00bef2;}
 .offers-right{position: relative; width: 663px; height: 314px; background: #e5edf0;}
 .offers-right span{ position: absolute; left: -30px;top: 0; background: url(../img/footico8.png) no-repeat; width: 191px; height: 148px;}
 .of-rcon{ margin-left: 113px;}
 .of-rcon dt{ font-size: 14px; font-weight: bold; color: #4d4d4f; padding: 34px 0 30px 35px;}
 .of-rcon dd{ padding-left: 35px; height: 55px;background: url(../img/footico9.png) no-repeat -20px -10px;}
/*  .of-rcon dd i{ float:left; width: 22px; height: 22px;background: url(../img/footico9.png) no-repeat -25px -21px;} */
.of-rcon dd p{ height: 23px; line-height: 23px;}
.foot-wrap{ width: 100%; height: 130px; border-top: 1px solid #ccc;}
.foot-box{ width: 1100px; height: 110px; margin: 0 auto; padding-top: 20px;}
.foot-left,.foot-center{ width: 130px; height: 92px; margin:0 40px 0 10px; text-align: center;}
.foot-center{ margin-right:25px; }
.foot-left p,.foot-center p{ height: 32px; line-height: 32px; color: #f03d41; font-family: '微软雅黑'; font-weight: bold;}
.foot-right{ width: 755px; height: 92px;}
.fr-icolist{ width:235px; height: 36px; line-height: 36px; margin: 0 auto;}
.fr-icolist li{float: left; width: 31px; height: 36px; margin: 0 8px;}
.footico3{ background: url(../img/footico3.jpg) no-repeat;}
.footico4{ background: url(../img/footico4.jpg) no-repeat;}
.footico5{ background: url(../img/footico5.jpg) no-repeat;}
.footico6{ background: url(../img/footico6.jpg) no-repeat;}
.footico7{ background: url(../img/footico7.jpg) no-repeat;}
.fr-linklist{ width:510px; margin: 10px auto;  }
.fr-linklist li{ float: left; }
.fr-linklist li a{ border-right: 1px solid #6e6e6e; padding:0 10px; color: #4d4d4d;}
.fr-linklist li .linkspecial{ border-right: 0; margin-right: 30px;}
.fr-linklast li{ float: left; margin-right: 35px;}
.fr-linklast li a{ color: #4d4d4d;}