@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-25 23:55:34
 * @version $Id$
 */
.main-header{height: 125px; }
.top-wrap{height: 37px;background: #2b2b2b; border-top:3px solid #00925f;}
.main-top{width: 1200px; height: 37px; margin:0 auto; }
.top-leftcon{ position:relative; width:180px;height: 37px; color: #00925f;}
.top-ico1,.top-ico2{display: inline-block;width: 19px;height: 16px; position: absolute;left: 5px;top: 10px;
		background: url(../img/icons.png) no-repeat -265px -2px;}
.top-ico2{  position: absolute;left: 30px;top: 10px; background: url(../img/icons.png) no-repeat -317px -2px; margin-left: 15px;}	
.top-num{ display: inline-block; font-weight: bold; height: 37px;line-height: 37px; margin-left: 70px;}
.top-rightcon{ position:relative; width:390px; height:37px; }
.top-rightcon li{ float:left; height:15px; margin-top:11px;}
.top-rightcon li a{ color:#b2b2b2; border-right: 1px solid #474747;}
.first a,.second a,.third a{ display:inline-block;text-align:center;}
.first a{width:54px; height:15px; }
.second a{ width:78px; height:15px; }
.third a{ width:120px; height:16px;}
.top-ico3{ display:inline-block; width:19px; height:16px; position:absolute; left:280px; top:10px; 
									 background:url(../img/icons.png) no-repeat 0 -1013px;}
.main-logo{height: 85px;}		
.site-logo{width: 1200px; height:85px; margin: 0 auto;}	
.logo-wrap{width: 550px;height: 26px; padding: 30px 0;}						 
.logo-wrap a{display: block; width: 167px;height: 26px;text-indent: -999em;
			 background: url(../img/icons.png) no-repeat 0 0;}
.logo-list{width: 650px;height: 15px;padding:35px 0; }			 
.logo-list li{float: left; margin-left:40px;}	

.banner-wrap{width:1349px;position:relative;overflow: hidden; margin:0 auto;}
.banner-wrap img{height: 100%;margin-left: -250px;}
.opa1{ height:100%;position: absolute;left: 0;bottom: 0;margin-left: 370px;}
.opa2{width:100%;height: 70px;background: #f9fbfa; position: absolute;left: 0;bottom: 0;opacity: 0.3;filter: alpha(opacity=30);}
.Starphone-wrap{height: 747px;width: 100%;  background:#f2f2f2;}
.S-phonebox{width: 1200px;height: 695px; margin:0 auto; padding-top: 52px;}
.S-phonebox dd{float: left; width: 299px;height: 567px;margin-top:25px; border-right: 1px solid #eaeaea;}
.S-phonebox dd img{width: 280px;}
.p-picbox{ margin-left:10px;width:295px;}
.S-phcon{width: 280px;height: 125px; text-align: center;background: #f2f2f2;border-bottom: 5px solid #dfdfdf;margin-left: 10px;}
.S-phonebox .ph-last{border-right: 0;}
.S-phonebox h3{width: 287px;height: 60px; margin:0 auto; background: url(../img/icons.png) no-repeat 0 -705px; text-indent: -999em;}
.S-phonebox dt{width: 230px; height:14px; margin:16px auto;background: url(../img/icons.png) no-repeat -30px -773px;text-indent: -999em;}
.S-phcon h4{width: 280px;font-size:18px; font-weight:bold; padding-top:28px;}
.phcon1{padding: 14px 0;color: #b4b4b4;}
.S-phcon span{display: inline-block;height: 14px;color: #00925f;font-weight: bold;}
.S-ico{display: inline-block;width: 15px;height: 15px; position: relative;left: 0;top: 4px;
	background: url(../img/icons.png) no-repeat -175px -1013px; margin-left:5px;}
.choice-wrap{width: 100%;height:1070px; background: #f6f6f6; border-bottom: 1px solid #d9d9d9; margin:0 auto;}
.choice-box{ width:1180px; height:1070px; margin:0 auto;}
.choice-wrap h3{ height:50px; line-height:50px; width:330px; font-size:28px; margin:0 auto; padding:45px 0; }
.choice-left,.choice-right{ width:580px; height:930px; margin-right:20px;}
.choice-right{ margin-right:0;}
.choice-left div,.choice-right div{ float:left; }
.cl-pic1{ width:280px; height:575px; border-bottom:5px solid #e1e1e1; 
			background: #fff; margin-right:20px;}
.cl-pic1 p,.cl-pic3 p{ text-align:center; padding:8px 0;}	 
.cl-con1 a{ color:#8d8d8d;}	
 .cl-con2 a{ font-size:19px; color:#000; font-weight:bold;}
 .cl-con3 a{color:#0a9461; font-weight:bold;}
 .cl-pic2{ width:270px; height:270px; border:5px solid #eaeaea; background: #fff;}
 .cl-pic2 h5{ width:210px; height:58px; line-height:58px; font-weight:bold;
 					text-align:center; border-bottom:1px solid #e6e6e6; margin:0 auto;}
.cl-list{ width:210px; height:123px; padding-top:28px; margin:0 auto; border-bottom:1px solid #e6e6e6;}		
.cl-list li{ width:53px; height:35px; line-height:35px; float:left; padding-left:35px; position:relative; }			
.cl-ico1,.cl-ico2,.cl-ico3,.cl-ico4,.cl-ico5,.cl-ico6{ width:16px; height:17px; background:url(../img/icons.png) no-repeat -135px -355px; position:absolute; left:0;top:9px; margin-left:10px;}
.cl-ico2{ width:12px; height:17px; background-position:-250px  -355px;}
.cl-ico3{ width:12px; height:18px; background-position:-137px  -393px;}
.cl-ico4{ width:12px; height:18px;  background-position:-250px  -393px;}
.cl-ico5{width:14px; height:18px;  background-position:-135px  -430px;}
.cl-ico6{ width:15px; height:18px; background-position:-250px  -430px;}
.cl-listcon{ text-align:center; height:60px; line-height:60px;}
.cl-pic3{ width:280px; height:270px; border-bottom:5px solid #e1e1e1; background:#fff; margin-top:20px;}
.cl-pic4{ width:580px; height:270px; border-bottom: 5px solid #e1e1e1; margin-top:20px; background:#fff; } 
.cl-pic4con{ width:230px; height:95px; padding:90px 0;}
.cl-pic4con span{ display:block; text-align:center; padding:8px 0;}

.add-right1{ margin-top:0; height:275px;}
.add-rightcon1 a{ font-size:16px; color:#6c6c6c;}
.add-right2{ margin-top:15px;}
.add-right3{ margin-top:16px;}
.add-right4{margin-top:28px;}
.ts-wrap{ width:100%; height:750px; border-top:3px solid #d9d9d9; background:#eaeaea;}
.ts-box{ width:1180px; height:750px; margin:0 auto; }
.ts-box h5{ width:280px; height:50px; line-height:50px; padding:40px 0; margin:0 auto; font-size:25px;}
.ts-list{ width:800px; height:580px;}
.ts-list li{ float:left; width:380px; height:270px; margin-right:20px; margin-bottom:20px;}
.ts-news{ width:380px; height:560px; background:#fff;}
.ts-newstop{ width:380px; height:50px;}
.ts-newstop p{ float:left; width:190px; height:50px; line-height:50px; text-align:center;}
.ts-newstop p a{ color:#a7a7a7;}
.newstop1{ border-top:2px solid #00925f;}
.newstop2{ background:#dadada;}
.news-list{ width:320px; height:405px; padding:45px 35px 15px 35px;}
.news-list li{ width:320px; height:90px; background:#f6f6f6; margin-bottom:15px;}
.news-list li a{ float:left; display:inline-block; width:100px; height:90px;}
.news-list li span { float:left; display:inline-block; width:190px; height:60px; padding:15px  15px;}
.news-list li span  a{ display:block; width:190px; height:18px; line-height:18px; color:#838383;}
.bz-wrap{width:100%; height:125px; border-bottom:1px solid #eaeaea;}
.bz-con{ width:1180px; height:125px; margin:0 auto; background:url(../img/icons.png) no-repeat  -244px  -540px;}
.foot-wrap{ width:100%; height:240px;}
.foot-box{ width:1180px; height:210px; margin:30px auto;}
.foot-box dd a{ color:#838383;}
.foot-list{ width:180px; float:left;}
.foot-list dt{ font-weight:bold; margin-bottom:20px;}
.foot-list dd{ position:relative; width:180px; height:14px; padding-left:10px; margin-bottom:15px;} 
.foot-ico1{ position:absolute; left:0; top:2px;width:10px; height:10px; background:url(../img/icons.png) no-repeat  -330px  -1015px;}
.special dd{ position:relative; width:180px; height:20px; padding-left:25px; margin-bottom:10px;}

.foot-ico2,.foot-ico3,.foot-ico4,.foot-ico5{  position:absolute; left:0; top:0;width:20px; height:20px; background:url(../img/icons.png) no-repeat  0  -883px;}
.foot-ico3{  background-position: 0  -910px;}
.foot-ico4{ background-position: 0  -940px;}
.foot-ico5{ background-position: 0  -855px;}
.foot-last dd{ height:60px; padding-left:0;}
.Bfoot{ width:100%; background:#2b2b2b; border-top:5px solid #000; height:70px;}
.Bfoot-con{ width:1180px; height:24px; padding:25px 0; margin:0 auto;}
.Bfoot-con2{ width:100px; height:17px;background:url(../img/icons.png) no-repeat  -440px  0; position:absolute; left:0; top:4px; }
.Bfoot-con1{ width:560px; height:24px; line-height:24px; padding-left:120px; color:#828282; position:relative;}
.Bfoot-list li{ float:left; width:90px; height:24px; text-align:center; line-height:24px;}
.Bfoot-list li a{ color:#828282;}








