@charset "utf-8";
/* CSS Document */

body{ background:#f5f5f5;}
.top{ width:642px; height:46px; margin:0 auto;}

.search{ display:table; position:relative; width:100%; height:30px;  margin:8px 0; }
.s-l{ display:table-cell;  width:40px; height:100%; position:relative;}
.s-r{ display:table-cell;   width:40px; height:100%; position:relative;  vertical-align:bottom; text-align:center;
			color:#d44752; font-weight:bold; font-size:11px;}
.s-lico{  width:30px; height:20px; position:absolute; left:5px; top:5px;
			background:url(../img/home-icons.png) no-repeat 0 -5px ;  background-size:100%;}
.s-ricon{ width:25px; height:15px;  position:absolute; left:10px; top:0;
			background:url(../img/home-icons.png) no-repeat -3px -55px ;  background-size:100%;}			
.s-center{ position:relative;  border-radius:5px; border:1px solid #ebebeb;}
.s-center input{ width:100%; height:30px;  padding:0  28px  0 15px;  box-sizing:border-box; background:#ebebeb; }
.s-Cico{ width:17px; height:17px;  position:absolute; right:5px; top:7px; 
				background:url(../img/home-icons.png) no-repeat -3px -16px ;  background-size:100%;}

.box-wrap{ width:640px; margin:0 auto; }
.banner-wrap{ width:100%; /*height:300px; *//*border:1px solid #f0f0f0;*/ /*border-top:0;  border-bottom-color:#e1e1e1;*/ background:#fff;}
/*.banner-box{ width:632px; height:237px; margin:0 4px 0 4px; padding-top:4px;}*/
.banner-box{ width:100%;/* height:237px;*/ border:4px solid #fff; box-sizing:border-box;}
.banner-box img{ width:100%;  }
.Ba-conbox{ width:100%; /*height:59px;*/}
/*.Bacon-list{box-sizing:border-box; }*/

.Bacon-list li{ float:left; width:25%; /*height:100%; */position:relative;}
.Bacon-list li a{ display:inline-block; width:100%; height:28px; margin:16px 0; 
						border-right:1px solid #dadada; color:#7f7f7f; }
.Bacon-list li .Ba-last{ border-right:0;}
.Ba-icon1,.Ba-icon2,.Ba-icon3,.Ba-icon4{position:absolute; left:70px; top:5px; width:24px; height:24px;  
				 background:url(../img/home-icons.png) no-repeat  0 -72px; background-size:100%;}		
.Ba-icon2{ background-position: 0 -95px;}	
.Ba-icon3{ background-position: 0 -120px;}	
.Ba-icon4{ background-position: 0 -145px;}				 				
.Ba-con1{ position:absolute; left:65px; top:35px; width:40px; height:14px; text-align:center; } 

.hand-wrap{ width:100%; /*height:217px;*/ background:#fff; border:1px solid #f0f0f0; margin-top:11px; border-top:0;  border-bottom-color:#e1e1e1; }
.hand-title{ width:100%; /*height: 33px;*/ border-bottom: 1px solid #dadada;}
.hand-ico1{ float:left; display:inline-block; width:3px; height:12px; background:#d8505c; margin:9px 0 0 7px; }
.hand-title h3{ float:left;display:inline-block;  height:14px; margin:9px 0 10px 7px; color:#7f7f7f; font-size:14px; white-space:nowrap;}
.hand-timer{ display:inline-block; margin:8px 0 9px  7px; }
.hand-time{ float:left; background:#5d5d5d; color:#fff; height:15px;  line-height:15px; text-align:center;}
.hand-timeico{ float:left; width:10px; height:15px; font-size:13px; text-align:center;}
.hand-timeleft{ padding-left:2px; border-radius:2px 0 0 2px;}
.hand-timeright{ padding-right:2px; border-radius:0 2px 2px 0;}

.hand-picbox{ /*height:184px;*/ }
.hand-new-list{ /*height:100%;*/}
.hand-new-list li{ float:left; width:33%; height:100%; border-right:1px solid #dadada; box-sizing:border-box;}
.hand-new-list .list-last{ float:left; width:33%; border-right:0;}
.hpicbox{ width:100%; padding:16px 43px 0 44px; box-sizing:border-box;}
.hpicbox img{ width:100%; height:auto;}
.hpic-con{ width:100%; padding:0 25px; box-sizing:border-box; } 
.hpic-con1{  display:block; height:10px; text-align:center; color:#e4505c; font-weight:bold; margin-bottom:9px; }
.hpic-con2{  display:block; height:15px; line-height:15px; margin-bottom:9px; color:#fff;
					text-align:center; background:#d8505c;}
					
.jd-adwrap{ width:100%; /*height:314px;*/ border:1px solid #e1e1e1; border-top:0;  border-bottom-color:#e1e1e1; margin-top:10px; background:#fff;}			

.add-mdl{ border-bottom:0;}		
.jd-adpicbox{ width:100%; padding:0 5px 7px 5px; padding-top:6px;  box-sizing:border-box;}
.jd-adpicbox img{ width:100%;}

.czg-wrap{ width:100%;/* height:383px;*/ border:1px solid #f0f0f0;  border-bottom-color:#e1e1e1; 
				 border-top:0; background:#fff; margin-top:10px;}			 
.czg-list{ /*height:350px;*/ box-sizing:border-box;}
.list-left,.list-right{ width:50%;/* height:350px;*/ box-sizing:border-box; }
.list-left{ border-right:1px solid #dadada;}
.add-rmhd{ border-right:0;}
.czg-right1{ border-bottom:1px solid #dadada;}
.czg-list img{ width:100%;}
.add-sgzs{ margin-top:10px;}

/*.add-tssc{ height:387px;}*/
/*.add-ztgwrap{ height:718px;}*/
/*.ztg-list{ height:685px;  }*/
.ztg-list img{ width:100%;}

.ztg-list li{ float:left; width:50%; height:16.7%;  box-sizing:border-box; }			
.ztg-lcon{ border:9px solid #fff; border-top:0; border-right:4px solid #fff;}
.ztg-rcon	{border:9px solid #fff; border-top:0; border-left:4px solid #fff;}			 
 .add-listspecial	{ padding-right:9px; }		
 
.foot-wrap{ height:140px; background:#fff; margin-top:10px;}	
.foot-title{ height:34px; border-bottom:1px solid #e5e5e5;}			
.f-title-l li,.f-title-r li{ float:left; height:17px; line-height:17px; width:30px; text-align:center;  } 
.f-title-l,.f-title-r { height:17px; padding:9px 0 8px 10px; }
.f-login{ border-right:1px solid #666;}
.f-title-r .f-last{ width:56px;  border-left:1px solid #666;}
.foot-con{ height:105px;}
.f-conlist{ width:230px; height:14px; padding:13px 0 8px; margin:0 auto; display:table;}
.f-conlist li{ float:left; width:76px; text-align:center; display:table-cell;}
.foot-wrap a{ color:#666;}
.f-special a{ color:#e6242b;}
.f-con1{ text-align:center;}
.f-con2{ height:30px; line-height:30px; text-align:center;}


@media screen and (min-width:642px){
		.top{ width:642px;}
		.box-wrap{ width:640px;}	
	}
@media screen and ( max-width:642px){
		.top{ width:320px;}
		.box-wrap{ width:320px;}
		.Ba-icon1,.Ba-icon2,.Ba-icon3,.Ba-icon4{position:absolute; left:28px; top:5px;}
		.Ba-con1{ position:absolute; left:21px; top:35px;  }		
	}









